@using DBHelper.Schema
@{
    var context = new DBLAccountOpeningContext();
    var questions = context.AMLQuestions.OrderBy(x => x.Id).ToList();
}

<fieldset>
    <h2>AML QUESTIONNAIRE</h2>
    <div class="fieldset-content">

        <table cellspacing="5">
            <thead>
                <tr class="greenHeader">
                    <td>Category</td>
                    <td style="width:750px;">Question</td>
                    <td>Response</td>
                    <th>Remark</th>
                 
                </tr>
            </thead>
        <tbody>
        @{
            foreach (var category in context.AMLQuestionCategories.Where(x=>x.IsActive))
            {
                var categoryQuestions = context.AMLQuestions.Where(x => x.CategoryId == category.Id);
                <tr>
                    <th style="width:200px;">@category.Name</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                </tr>
                foreach (var question in categoryQuestions.Where(x=>x.IsActive))
                {
                <tr>
                    <td></td>
                    <td>@question.Question</td>
                    @{
                        if (question.IsDropDown)
                        {
                            <td>
                                @{
                                    if (question.Id == 12)
                                    {
                                        <select name="amlQues_@question.Id" style="width: 200px;" required id="@Guid.NewGuid().ToString()">
                                            <option value="">-select-</option>
                                            <option value="E-payment e.g. Credit or debit cards">E-payment e.g. Credit or debit cards</option>
                                            <option value="Cheque">Cheque</option>
                                            <option value="Bank Transfers">Bank Transfers</option>
                                            <option value="Cash">Cash</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select name="amlQues_@question.Id" style="width: 200px;" id="@Guid.NewGuid().ToString()" required>
                                            <option value="">-select-</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    }
                                }

                            </td>

                        }
                        else
                        {
                            <td>
                                <input type="text" style="margin-top: 5px; width: 300px;" name="amlQues_@question.Id" />

                            </td>

                        }

                        <td>
                            <input type="text" style="margin-top: 5px; width: 200px;" name="remark[]" />

                        </td>
                    }


                </tr>
                }
            }
        }





        </tbody>

        </table>
        <br/><br/>

        <style type="text/css">
            #q1Option, #q2Option, #q3Option, #q4Option, #q5Option, #q6Option, #q7Option, #q8Option {
                min-width: 200px;
            }
        </style>
    </div>
</fieldset>


