@using DBHelper.Schema
@{
    var context = new DBLAccountOpeningContext();
    var questions = context.AMLQuestions.OrderBy(x => x.Id).ToList();
}

<fieldset>
    <h2>Electronic Transmission Indemnity</h2>

    <br />
    <div class="fieldset-content" style="text-align:inherit;font-size:18px;">

        I / We,<input type="text" style="width:700px; display:inline;" name="indemnityTxt1" required placeholder="indicate your full name"/> , the undersigned,<br /><br />
        here acting in the capacity of <input type="text" style="width:700px;display:inline;" name="indemnityTxt2" required placeholder="indicate your full name" /><br /> <br />,
        authorise and instruct Databank Brokerage Limited to execute within the earliest possible time, the
        instructions which I am / we are likely to transmit by fax, telephone and e-mail, with regard to securities
        transactions generally, in the name of <input type="text" style="width:700px;display:inline;" name="indemnityTxt3" required placeholder="indicate your full name" /> unless
        otherwise indicated, pending receipt or not
        of my / our original written conrmation, which when issued by me / us will be annotated with “Instructions
        already given by telephone / e-mail or fax.
        <br />
        <br />
        I am / We are however perfectly aware of inherent risks there may be in transmission of instructions by fax,
        telephone and e-mail, such as, but not limited to, delays and errors in transmission, incomprehension,
        absence of condentiality, transmission by unauthorised persons and loss caused thereby, and agree to
        bear the consequences thereof.
        <br />
        <br />
        In consideration of your agreeing to carry out my / our instructions by such means as aforesaid, I / we, the
        undersigned, here acting in the capacity of <input type="text" name="indemnityTxt4" style="width:700px;display:inline;" required  placeholder="indicate your full name"/> ,
        undertake:
        <br /><br />
        <ul style="list-style-type:disc">
            <li>to hold you or any of your agents blameless in the execution of such instructions;</li>
            <li>not to enter any action against you (and in so far as need be); and</li>
            <li>
                to indemnify you for all losses and all actions, proceedings and demands that might be entered or made
                against you by any third party as a result of your complying with instructions transmitted by the above
                means, as well as for fees, costs and expenses which you might incur in relation to such actions,
                proceedings or demands.

            </li>
        </ul>

        <br />
        This authorisation is given by me / us to Databank Brokerage Limited and is valid until formal revocation by
        written instructions from me / us.

        <br /><br />
        Dated this @DateTime.Now.Date.ToString("dd") day of @DateTime.Now.ToString("MMMM yyyy").
        <br />
        <br />
        <div class="form-row">
            <div class="form-flex">
                <div class="form-group">
                    <label for="indemnityName1" class="form-label">Name</label>
                    <input type="text" name="indemnityName1" id="indemnityName1" required/>
                </div>
                <div class="form-group">
                    <label for="indemnityName2" class="form-label">Name</label>
                    <input type="text" name="indemnityName2" id="indemnityName2" required/>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-flex">
                <div class="form-group">
                    <label for="indemnityEmail1" class="form-label">Email</label>
                    <input type="email" name="indemnityEmail1" id="indemnityEmail1" required/>
                </div>
                <div class="form-group">
                    <label for="indemnityEmail2" class="form-label">Email</label>
                    <input type="email" name="indemnityEmail2" id="indemnityEmail2" required/>
                </div>
            </div>
        </div>


    </div>



</fieldset>

