
@{
    ViewBag.Title = "AML";
    Layout = "~/Views/Shared/_Client.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    AML QUESTIONNAIRE
                </h5>
            </div>
            <div class="card-body">

                @Html.Partial("~/Views/Partials/client_edits/_editAML.cshtml")


            </div>
            </div>
        </div>
    </div>


