<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="FreeSpire.PDF" version="8.6.0" targetFramework="net461" />
  <package id="Hangfire" version="1.7.19" targetFramework="net461" />
  <package id="Hangfire.Core" version="1.7.19" targetFramework="net461" />
  <package id="Hangfire.SqlServer" version="1.7.19" targetFramework="net461" />
  <package id="IronPdf" version="2021.3.1" targetFramework="net461" />
  <package id="IronPdf.Assets.Rendering.Windows" version="22.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="20.3.0.47" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="20.3.0.47" targetFramework="net461" />
  <package id="Syncfusion.Pdf.AspNet" version="20.3.0.47" targetFramework="net461" />
</packages>