<h3>Personal info</h3>
<fieldset>
    <h2>Personal information</h2>
    <p class="desc">Please enter your infomation and proceed to next step so we can build your account</p>
    <div class="fieldset-content">
        <div class="form-row">
            <label class="form-label">Name</label>
            <div class="form-flex">
                <div class="form-group">
                    <input type="text" name="first_name" id="first_name" />
                    <span class="text-input">First</span>
                </div>
                <div class="form-group">
                    <input type="text" name="last_name" id="last_name" />
                    <span class="text-input">Last</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" />
            <span class="text-input">Example  :<span>  Jeff@gmail.com</span></span>
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" name="phone" id="phone" />
        </div>
        <div class="form-date">
            <label for="birth_date" class="form-label">Birth Date</label>
            <div class="form-date-group">
                <div class="form-date-item">
                    <select id="birth_month" name="birth_month"></select>
                    <span class="text-input">MM</span>
                </div>
                <div class="form-date-item">
                    <select id="birth_date" name="birth_date"></select>
                    <span class="text-input">DD</span>
                </div>
                <div class="form-date-item">
                    <select id="birth_year" name="birth_year"></select>
                    <span class="text-input">YYYY</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="ssn" class="form-label">SSN</label>
            <input type="text" name="ssn" id="ssn" />
        </div>
    </div>
</fieldset>

