<div class="navbar navbar-inverse navbar-fixed-top" id="grad">
    <div style="margin-left:8%; margin-right:10%;">
        <img src="~/Images/databank.png" class="pull-left" style="width:15%;">
    </div>
</div>

