<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title</title>

    <link href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link rel="icon" href="~/images/databank.png" type="image/x-icon">
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/validateUploads.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link type="text/css" href="~/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link type="text/css" href="~/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">



</head>
<body style="margin-left:0; margin-right:0; padding:0;">

    <div class="container-fluid body-content" style="margin-left:0; margin-right:0; padding:0;">
        @RenderBody()
    </div>

    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

</body>
</html>
