<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientOpeningWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.179.200.90:9080/ClientOpeningAOF/ClientOpeningWS"
                binding="basicHttpBinding" bindingConfiguration="ClientOpeningWSPortBinding"
                contract="SofteckAofSdk.ClientOpeningWS" name="ClientOpeningWSPort" />
        </client>
    </system.serviceModel>
</configuration>